<!--<div class="wrapper">-->
<!--    &lt;!&ndash; 🟥 Sidebar &ndash;&gt;-->
<!--    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">-->
<!--      <app-sidebar></app-sidebar>-->
<!--      <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>-->
<!--    </div>-->
<!--  -->
<!--    &lt;!&ndash; 🟦 Main Panel &ndash;&gt;-->
<!--    <div class="main-panel">-->
<!--      <app-navbar></app-navbar>-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--  -->
<!--  &lt;!&ndash; 🔷 Backdrop modals &ndash;&gt;-->
<!--  <div *ngIf="showListModal$ | async" class="modal-backdrop fade show"></div>-->
<!--  <div *ngIf="permissionModalService.showRoleModal$ | async" class="modal-backdrop fade show"></div>-->
<!--  -->
<!--  &lt;!&ndash; 🔷 Modal : Créer ou modifier une liste de permissions &ndash;&gt;-->
<!--  <div *ngIf="showListModal$ | async" class="modal d-block" tabindex="-1">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title">-->
<!--            {{ permissionListModalTitle }}-->
<!--          </h5>-->
<!--          <button type="button"-->
<!--                  class="btn-close"-->
<!--                  (click)="permissionModalService.closePermissionListModal()"-->
<!--                  style="position: absolute; top: 10px; right: 10px;">-->
<!--            <i class="pi pi-times text-danger" style="font-size: 1.2rem;"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <app-permission-list-modal-->
<!--            #permissionListModalComponent-->
<!--            [isEdit]="isEditMode"-->
<!--            [editData]="selectedPermissionList"-->
<!--            (created)="onListUpdated()">-->
<!--          </app-permission-list-modal>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  -->
<!--  &lt;!&ndash; 🔷 Modal : Créer ou modifier un rôle &ndash;&gt;-->
<!--  <div *ngIf="permissionModalService.showRoleModal$ | async" class="modal d-block" tabindex="-1">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title">-->
<!--            {{ permissionModalService.isRoleEdit ? 'Modifier un rôle' : 'Créer un rôle' }}-->
<!--          </h5>-->
<!--          <button type="button"-->
<!--                  class="btn-close"-->
<!--                  (click)="permissionModalService.closeRoleModal()"-->
<!--                  style="position: absolute; top: 10px; right: 10px;">-->
<!--            <i class="pi pi-times text-danger" style="font-size: 1.2rem;"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <app-role-modal (created)="onRoleUpdated()"></app-role-modal>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!-- -->
