<p-dialog [visible]="true" [modal]="true" [style]="{width: '500px'}" [closable]="false" [dismissableMask]="true">
    <ng-template pTemplate="header">
      <h5 class="text-danger"><i class="pi pi-user-edit me-2"></i>Modifier l'utilisateur</h5>
    </ng-template>
  
    <ng-template pTemplate="content">
      <form [formGroup]="form">
        <div class="mb-3">
          <label class="form-label">Prénom</label>
          <input type="text" pInputText class="form-control" formControlName="firstname" />
        </div>
        <div class="mb-3">
          <label class="form-label">Nom</label>
          <input type="text" pInputText class="form-control" formControlName="lastname" />
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" pInputText class="form-control" formControlName="email" />
        </div>
      </form>
    </ng-template>
  
    <ng-template pTemplate="footer">
      <button (click)="onCancel()" style="position: absolute; top: 10px; right: 10px; width: 36px; height: 40px; background: transparent; border: none; z-index: 1055;">
        <i class="pi pi-times text-danger" style="font-size: 1rem;"></i> </button>
      <button pButton label="Enregistrer" icon="pi pi-check"  (click)="onSubmit()" [disabled]="form.invalid" style="background-color: #dc3545;" ></button>
    </ng-template>
  </p-dialog>
  