
.leaflet-map-container {
  height: 500px;
  width: 100%;
  position: relative;
  z-index: 1;
}

#map {
  height: 500px;
  width: 100%;
  z-index: 0;
  touch-action: auto; // ✅ permet au navigateur de scroller normalement
}
