<!--&lt;!&ndash; sidebar.component.html &ndash;&gt;-->
<!--<div class="layout-sidebar">-->
<!--  <ul class="layout-menu">-->
<!--    <li class="layout-root-menuitem">-->
<!--      <div class="layout-menuitem-root-text">Admin</div>-->
<!--    </li>-->

<!--    <li class="nav-item" routerLinkActive="active">-->
<!--      <a class="nav-link" routerLink="/admin/users" *hasPermission="'users.read'">-->
<!--        <i class="pi pi-users layout-menuitem-icon"></i>-->
<!--        <span class="layout-menuitem-text">Utilisateurs</span>-->
<!--      </a>-->
<!--    </li>-->

<!--    <li class="nav-item" routerLinkActive="active">-->
<!--      <a class="nav-link" routerLink="/admin/permission-lists" *hasPermission="'permissionlists.read'">-->
<!--        <i class="pi pi-list layout-menuitem-icon"></i>-->
<!--        <span class="layout-menuitem-text">Listes de permissions</span>-->
<!--      </a>-->
<!--    </li>-->

<!--    <li class="nav-item" routerLinkActive="active">-->
<!--      <a class="nav-link" routerLink="/admin/liste-roles" *hasPermission="'roles.read'">-->
<!--        <i class="pi pi-id-card layout-menuitem-icon"></i>-->
<!--        <span class="layout-menuitem-text">Rôles</span>-->
<!--      </a>-->
<!--    </li>-->

<!--    <li class="nav-item" routerLinkActive="active">-->
<!--      <a class="nav-link" routerLink="/admin/register" *hasPermission="'users.create'">-->
<!--        <i class="pi pi-user-plus layout-menuitem-icon"></i>-->
<!--        <span class="layout-menuitem-text">Créer un compte</span>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
