<!--<div class="chat-container">-->
<!--  <h2 class="chat-title">💬 Chat en direct (Ooredoo)</h2>-->

<!--  <div class="chat-box">-->
<!--    <div class="chat-message" *ngFor="let msg of messages">-->
<!--  <span class="chat-sender">-->
<!--    {{ msg.sender === username ? 'Moi' : msg.sender }} :-->
<!--  </span>-->
<!--      <span class="chat-content">{{ msg.content }}</span>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="chat-input">-->
<!--    <input type="text" [(ngModel)]="newMessage" placeholder="Votre message..." (keyup.enter)="send()" />-->
<!--    <button (click)="send()">Envoyer</button>-->
<!--  </div>-->
<!--</div>-->

