<p-dialog [(visible)]="visible" [modal]="true" [style]="{width: '500px'}" [closable]="false">
    <ng-template pTemplate="header">
      <h5 class="text-danger"><i class="pi pi-user-edit me-2"></i>Assigner un rôle</h5>

    </ng-template>

    <ng-template pTemplate="content">
      <div class="mb-3">
        <strong>Utilisateur :</strong> {{ userName }}
      </div>

      <p-dropdown
        [options]="roles"
        optionLabel="name"
        optionValue="id"
        [(ngModel)]="selectedRoleId"
        placeholder="Sélectionner un rôle"
        class="w-100 mb-3"
        appendTo="body"> <!-- 👈 solution clé -->
      </p-dropdown>


      <button
        pButton
        label="Assigner"
        icon="pi pi-check"
        class="p-button-danger w-100"
        [disabled]="!selectedRoleId"
        (click)="assignRole()">
      </button>
    </ng-template>

    <ng-template pTemplate="footer">
      <button  (click)="closeModal()"
      style="position: absolute; top: 10px; right: 10px; width: 36px; height: 36px; background: transparent; border: none; z-index: 1055;">
              <i class="pi pi-times text-danger" style="font-size: 1rem;"></i></button>
    </ng-template>
  </p-dialog>
