::ng-deep .p-multiselect-token {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  font-weight: 500;
  border-radius: 20px;
  padding: 3px 8px;
  font-size: 0.85rem;
  border: 1px solid #f5c2c7;
}

::ng-deep .p-multiselect {
  border: 1px solid #f5c2c7 !important;
  border-radius: 6px;
  min-width: 220px;
}
::ng-deep .p-multiselect-panel .p-multiselect-items-wrapper { padding-top: 0 !important; }
::ng-deep .p-multiselect-filter-container { margin-bottom: 0.5rem !important; }
::ng-deep .p-multiselect-item.p-highlight { background-color: #fdecea !important; color: #b02a37 !important; }
::ng-deep .p-multiselect-item:hover { background-color: #f8d7da !important; color: #721c24 !important; }
::ng-deep .p-dropdown { width: 100% !important; }
::ng-deep .p-calendar { width: 100%; }
